---
layout: default
title: mfX
categories:
 - team
---
<div class="spacer"></div>
{% assign current_team = site.categories.team | where: "alumni","false"%}
{% assign memberindex = 0 %}
{% for member in current_team reversed %}
    {% assign memberindex = memberindex | plus: 1 %}
    {% assign colindex = memberindex | modulo: 3 %}
    {% if colindex == 1 %} <!-- opening of a new row -->
    <div class="row">
    {% endif %}
    <div class="col-md-4 memberbox">
        <div class="media">
            <a class="pull-left" href="{{ member.url }}">
            <img class="media-object member-photo" src="{{ member.image }}">
            </a>
            <div class="media-body">
                <div class="smallhead"><a href="{{ member.url }}" class="bighead">{{ member.title }}</a></div>
                <p class="note">{{ member.position }}</p>
            </div>
        </div>
    </div>    
  {% if colindex == 0 %} <!-- closing a row -->
  </div><div class="spacer"></div>
  {% endif %}
{% endfor %}
{% if colindex != 0 %} <!-- close last open row -->
</div><div class="spacer"></div>
{% endif %}

<div class="spacer"></div>
<hr/>

<!-- Code for carousel on member page-->
<div id="carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
                <img src="/images/carousel-team/2.jpg" alt="Slide 1">
        </div>
        <div class="item">
            <img src="/images/carousel-team/3.jpg" alt="Slide 2">
        </div>
<!--         <div class="item">
            <img src="/images/carousel-team/3.jpg" alt="Slide 3">
        </div> -->
    </div>
    <a href="#carousel" class="left carousel-control" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a href="#carousel" class="right carousel-control" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

<div class="spacer"></div>
<hr/>
<div class="bigtitle text-center">Alumni</div>
<div class="spacer"></div>

{% assign alumni = site.categories.team | where: "alumni","true"%}
{% assign memberindex = 0 %}
{% for member in alumni %}
  {% assign memberindex = memberindex | plus: 1 %}
  {% assign colindex = memberindex | modulo: 3 %}
  {% if colindex == 1 %} <!-- opening of a new row -->
  <div class="row">
  {% endif %}
  <div class="col-md-4 memberbox">
    <div class="media">
<!--        <a class="pull-left" href="{{ member.url }}">
        <img class="media-object member-photo" src="{{ member.image }}">
        </a> -->
        <div class="media-body">
        <div class="head media-heading smallhead"><a href="{{ member.url }}" class="off"> {{ member.title }}</a></div>
        <p class="note">{{ member.mfXposition }} ({{ member.startyear }} - {{ member.endyear }})</p>
        <p class="note">Current: {{ member.position }}</p>
        </div>
    </div>
    </div>    
  {% if colindex == 0 %} <!-- closing a row -->
  </div><div class="spacer"></div>
  {% endif %}
{% endfor %}
{% if colindex != 0 %} <!-- close last open row -->
</div><div class="spacer"></div>
{% endif %}


