<!-- code for bottom navbar -->
<nav class="navbar navbar-default navbar-fixed-bottom">
	<div class="container">
  		<div class="navbar-header">
    		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-bottom-collapse"> 
      		<span class="icon-bar"></span>
      		<span class="icon-bar"></span>
      		<span class="icon-bar"></span>
    		</button>
  		</div>
  
  		<div class="collapse navbar-collapse" id="nav-bottom-collapse">
    		<ul class="nav navbar-nav navbar-left navbar-small tinyhead">
      		<li><a href={{ site.university.url }} target="_blank" rel="noopener noreferrer">{{ site.university.name }}</a></li>
      		<li><a href={{ site.institute.url }} target="_blank" rel="noopener noreferrer">{{ site.institute.name }}</a></li>
    		</ul>
    		<ul class="nav navbar-nav navbar-right navbar-small tinyhead">
      		<li><a href='/about/index.html'>About</a></li>
      		<li><a href='/acknowledgements/index.html'>Acknowledgements </a></li>
    		</ul>
  		</div>
	</div>
</nav>