---
layout: default
title: mfX
categories:
 - papers
---
<div class="hugehead"> Front Covers </div>
<hr class="thick">
<div class="spacer"></div> 
    <div class="col-md-2 paperbox">
        <div class="media">
            <a href= "https://royalsocietypublishing.org/doi/10.1098/rsta.2015.0035" target="_blank" rel="noopener noreferrer" class="pull-left">
                    <img class="cover-image" src="/images/covers/1.jpg">
            </a>
        </div>
    </div>
    <div class="col-md-2 paperbox">
        <div class="media">
            <a href= "https://www.cambridge.org/core/journals/mrs-bulletin/issue/9E87F5C9710251D2380DCDA9313F8DB7" target="_blank" rel="noopener noreferrer" class="pull-left">
                    <img class="cover-image" src="/images/covers/2.jpg">
            </a>
        </div>
    </div>
    <div class="col-md-2 paperbox">
        <div class="media">
            <a href= "https://pubs.acs.org/doi/10.1021/acs.langmuir.8b02887" target="_blank" rel="noopener noreferrer" class="pull-left">
                    <img class="cover-image" src="/images/covers/3.jpg">
            </a>
        </div>
    </div>
    <div class="col-md-2 paperbox">
        <div class="media">
            <a href= "https://pubs.rsc.org/en/journals/journalissues/nr#!issueid=nr012040&type=current&issnprint=2040-3364" target="_blank" rel="noopener noreferrer" class="pull-left">
                    <img class="cover-image" src="/images/covers/4.jpg">
            </a>
        </div>
    </div>
    <div class="col-md-2 paperbox">
        <div class="media">
            <a href= "https://pubs.rsc.org/en/content/articlelanding/2020/nr/d0nr04058d" target="_blank" rel="noopener noreferrer" class="pull-left">
                    <img class="cover-image" src="/images/covers/5.jpg">
            </a>
        </div>
    </div>
    <div class="col-md-2 paperbox">
        <div class="media">
            <a class="pull-left">
<!--                     <img class="cover-image" src="/images/covers/1.jpg">
 -->            </a>
        </div>
    </div>

    <br><div class="bigspacer"></div>

    <div class="top-buffer hugehead"> Recent Highlights </div>
    <hr class="thick">
    
    {% assign papers = site.categories.papers | where: "highlight","true"%}
    {% assign memberindex = 0 %}
        {% for paper in papers %}
            {% assign memberindex = memberindex | plus: 1 %}
            {% assign colindex = memberindex | modulo: 3 %}
            {% if colindex == 1 %} <!-- opening of a new row -->
            <div class="bigspacer"></div> <div class="row">
            {% endif %}

            <div class="col-md-4 paperbox">
            <div class="media">
                <a class="pull-right" href="{{ paper.url }}">
                    <img width=100 class="media-object" src="{{ paper.image }}">
                </a> 
                <div class="media-body">
                <div class="smallhead media-heading">
                    <a href="{{ paper.url }}" class="off">{{ paper.title }}</a>
                </div>
                    <p class="note">{{ paper.shortref }}</p>
                </div>
            </div>
            </div>
            {% if colindex == 0 %} <!-- closing a row -->
                </div><div class="spacer"></div>
            {% endif %}
        {% endfor %}
            {% if colindex != 0 %} <!-- close last open row -->
                </div><div class="spacer"></div>
            {% endif %}

<div class="spacer"></div>

<div class="hugehead"> All Publications </div>
<hr class="thick">
<div class="spacer"></div>

{% for paper in site.categories.papers %}
    <div class="smallhead media-heading">
        <a href="{{ paper.url }}" class="off">{{ paper.title }}</a>
        <p class="note">{{ paper.authors }}, <i>{{ paper.journal }}</i>, {{ paper.year }}, {% if paper.volume %} {{ paper.volume }}{% endif %}, {% if paper.issue %} {{ paper.issue }}, {% endif %}{{ paper.pages }}.</p>
    </div>
{% endfor %}

<div class="spacer"></div>

<div class="hugehead"> PhD Theses </div>
<hr class="thick">
<div class="spacer"></div>
    <div class="note media-heading">
        <ul>
            <li>Dr Carlos Corral-Casas, <a href ="https://era.ed.ac.uk/handle/1842/40896" target="_blank" rel="noopener noreferrer">Transport mechanisms of fluids under nanoscale confinements</a>, 2023 </li>
            <li>Dr Patrick Sullivan, <a href ="https://era.ed.ac.uk/handle/1842/41142" target="_blank" rel="noopener noreferrer">Formation and growth of vapour bubbles</a>, 2023 </li>
            <li>Dr Sritay Mistry, <a href ="https://era.ed.ac.uk/handle/1842/39609" target="_blank" rel="noopener noreferrer">Transport, selectivity and antifouling in nanoscale membranes</a>, 2022 </li>
            <li>Dr Vasileios-Martin Nikiforidis, <a href ="https://era.ed.ac.uk/handle/1842/38605" target="_blank" rel="noopener noreferrer">Nanoscale dynamics of ice growth on surfaces</a>, 2021 </li>
            <li>Dr Duncan Dockar, <a href ="https://era.ed.ac.uk/handle/1842/37044" target="_blank" rel="noopener noreferrer">Cavitation Dynamics of Surface Nanobubbles</a>, 2020 </li>
            <li>Dr Sreehari Perumanath, <a href ="https://era.ed.ac.uk/handle/1842/37144" target="_blank" rel="noopener noreferrer">Merging, spreading and jumping nanodroplets</a>, 2020 </li>
        </ul>
    </div>


