---
layout: default
title: mfX
categories:
 - member
---

{% assign member = page %}

<div class="spacer"></div>

<div class="row">
	<div class="col-md-3">
		<div class="media">
			{% if member.image %}
			<img class="pull-left pad-right big-member-photo" src="{{ member.image }}">
			{% endif %}
		</div>
	</div>
	<div class="col-md-9">
		<div class="pull-left pad-right media-body titlebox">
			<div class="title">
				{{ member.title }}
			</div>
			<div class="bigspace"></div>				
			<div class="bighead">
				{{ member.position }}
			</div>
			<div class="smallhead">
				{{ member.degrees }}
			</div>
		</div>
	</div>				
</div>

<div class="spacer"></div>

<div class="row">
	<div class="col-md-3">
		{% if member.email %}
		{% assign emailarray = member.email | split: '@' %}
		<div class="smallhead">
			Email
		</div>	
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-inbox fa-fw"></i>
			{{ emailarray.first }}<span style="display:none">obfuscate</span>@{{ emailarray.last }}
		</div>		
		<div class="mediumspacer"></div>			
		{% endif %}  
		{% if member.website %}		
		<div class="smallhead">
			Personal website
		</div>	
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-external-link fa-fw"></i>
			<a class="off" href="https://{{ member.website }}">External Link</a>
		</div>		
		<div class="mediumspacer"></div>	
		{% endif %}
		{% if member.cv %}		
		<div class="smallhead">
			CV
		</div>	
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="ai ai-obp ai-lg"></i>
			<a class="off" href="https://www.{{ member.cv }}">External Link</a>
		</div>
		<div class="mediumspacer"></div>	
		{% endif %}
		{% if member.researchgate %}		
		<div class="smallhead">
			ResearchGate
		</div>	
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="ai ai-researchgate ai-lg"></i>
			<a class="off" href="https://www.researchgate.net/profile/{{ member.researchgate }}">{{member.researchgate}}</a>
		</div>		
		<div class="mediumspacer"></div>	
		{% endif %}	
		{% if member.orcid %}		
		<div class="smallhead">
			ORCID
		</div>	
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="ai ai-orcid"></i>
			<a class="off" href="https://orcid.org/{{ member.orcid }}">{{member.orcid}}</a>
		</div>		
		<div class="mediumspacer"></div>	
		{% endif %}					  		
		{% if member.twitter %}		
		<div class="smallhead">
			Twitter
		</div>	
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-twitter fa-fw"></i>
			<a class="off" href="https://twitter.com/{{ member.twitter }}">{{ member.twitter }}</a>
		</div>		
		<div class="mediumspacer"></div>				
		{% endif %}	
		{% if member.github %}
		<div class="smallhead">
			GitHub
		</div>	
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-github-alt fa-fw"></i>
			<a class="off" href="https://github.com/{{ member.github }}">{{ member.github }}</a>
		</div>		
		<div class="mediumspacer"></div>	
		{% endif %}		
		{% if member.scholar %}
		<div class="smallhead">
			Google Scholar
		</div>	
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="ai ai-google-scholar ai-lg"></i>
			<a class="off" href="http://scholar.google.com/citations?user={{ member.scholar }}">{{ member.title }}</a>
		</div>		
		<div class="mediumspacer"></div>	
		{% endif %}				   							
	</div>
	<div class="col-md-8">	
		<div class="spacer"></div>
		{% if member.title != "You?" %}
			<div class="bighead">Biography</div>
			<hr class="thick">
		{% endif %}
		<div class="smallhead">
			{{ content }}
		</div>

		{% assign lastname = member.title | split: ' ' | last %}
		{% assign firstname = member.title | split: ' ' | first %}
		{% assign firstinitial = firstname | slice: 0 %}
		{% assign authorid = lastname | append: ' ' | append: firstinitial | append: ',' %}
		{% assign fullname = member.title | append: ',' %}
		{% assign startyear = member.startyear %}
		{% for paper in site.categories.papers %}
			{% assign authors_search = paper.authors | append: ',' %}
			{% assign paperyear = paper.date | date: "%Y" | plus: 0 %}
			{% if authors_search contains authorid or authors_search contains fullname %}
				{% if paperyear >= startyear %}
					{% assign papersq = true %}
				{% endif %}
			{% endif %}
		{% endfor %}

		{% if papersq == true %}
			<div class="spacer"></div>
			<div class="bighead">Papers</div>
			<hr class="thick">
			<div class="title"></div>
			{% for paper in site.categories.papers %}
				{% assign authors_search = paper.authors | append: ',' %}
				{% assign paperyear = paper.date | date: "%Y" | plus: 0 %}
				{% if authors_search contains authorid or authors_search contains fullname %}
					{% if paperyear >= startyear %}
						<i class="fa fa-file-text-o fa-fw"></i>
						<a href="{{ paper.url }}" class="verysmallhead">{{ paper.title }}</a>
						<div class="smallspacer"></div>
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endif %}		
		
		
	</div>			
	<div class="col-md-1"></div>

	</div>	
<div class="spacer"></div>			

