---
layout: default
title: mfX
---

{% for project in site.theme-particulate-systems %}
{% if project.active == true %} 
    <div class="row project-box">
        <div class="col-md-5">
            <div class="media">
            {% if project.image %}
            <img class="img-responsive" src="{{ project.image }}">
            {{ project.imageText }}
            {% endif %}
            </div>
        </div>

        <div class="col-md-7">  
            <div class="bighead">
                {{ project.title }} ({{project.startyear}}-{{project.endyear}}) 
            </div> 
            <hr class="thick">
            <div class="post">
                {{ project.content }}
            </div>  
        </div>
    </div>
    <div class="smallspace"></div>                
{% endif %}

{% endfor %}


{% for project in site.theme-particulate-systems %}
{% if project.active == false %} 
    <div class="row project-box">
        <div class="col-md-5">
            <div class="media">
            {% if project.image %}
            <img class="img-responsive" src="{{ project.image }}">
            {{ project.imageText }}
            {% endif %}
            </div>
        </div>

        <div class="col-md-7">  
            <div class="bighead">
                {{ project.title }} ({{project.startyear}}-{{project.endyear}}) 
            </div> 
            <hr class="thick">
            <div class="post">
                {{ project.content }}
            </div>  
        </div>
    </div>
    <div class="smallspace"></div>                
{% endif %}

{% endfor %}    