---
layout: default
title: mfX
---

{% for project in site.theme-interfacial-phenomena %}
{% if project.active == true %} 
    <div class="row project-box">
        <div class="col-md-5">
            <div class="media">
            {% if project.image %}
                <figure class="figure">
                    <img class="img-responsive" src="{{ project.image }}">
                    {% if project.imageText %}
                    <figcaption class="figure-caption text-center">{{ project.imageText }}</figcaption>
                    {% endif %}
                </figure>
            {% endif %}
            </div>
        </div>

        <div class="col-md-7">  
            <div class="bighead">
                {{ project.title }} ({{project.startyear}}-{{project.endyear}}) 
            </div> 
            <hr class="thick">
            <div class="post">
                {{ project.content }}
            </div>  
        </div>
    </div>
    <div class="smallspace"></div>                
{% endif %}

{% endfor %}


{% for project in site.theme-interfacial-phenomena %}
{% if project.active == false %} 
    <div class="row project-box">
        <div class="col-md-5">
            <div class="media">
            {% if project.image %}
                <figure class="figure">
                    <img class="img-responsive" src="{{ project.image }}">
                    {% if project.imageText %}
                    <figcaption class="figure-caption text-center">{{ project.imageText }}</figcaption>
                    {% endif %}
                </figure> 
            {% endif %}
            </div>
        </div>

        <div class="col-md-7">  
            <div class="bighead">
                {{ project.title }} ({{project.startyear}}-{{project.endyear}}) 
            </div> 
            <hr class="thick">
            <div class="post">
                {{ project.content }}
            </div>  
        </div>
    </div>
    <div class="smallspace"></div>                
{% endif %}

{% endfor %}

<div class="bigspacer"></div>
<div class="hugehead">Related Papers</div>
<hr class="thick">
<div class="spacer"></div>

{% assign defined_keywords = "droplet,drop,interface,interfacial,thermal,wetting,coalescence,spreading,jumping,contaminant" | split: "," %}
{% for paper in site.categories.papers %}
    {% assign matched = false %}
    {% assign paper_tags = paper.tags | join: " " | downcase %}
    {% assign paper_title = paper.title | downcase %}
    {% for keyword in defined_keywords %}
        {% if paper_tags contains keyword or paper_title contains keyword %}
            {% assign matched = true %}
            {% break %}
        {% endif %}
    {% endfor %}
    {% if matched %}
    <div class="smallhead media-heading">
        <a href="{{ paper.url }}" class="off">{{ paper.title }}</a>
        <p class="note">{{ paper.shortref }}</p>
    </div>
    <div class="smallspacer"></div>
    {% endif %}
{% endfor %}